<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="primary"> Acerca de... </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Problema 1</ion-card-subtitle>
      <ion-card-title color="primary">Sistema de repartidores</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <p style="text-align:justify;" >
        Construye una lista que tenga tramos horarios de 30min. Empieza a las
        8 am y termina a las 8 pm. La empresa tiene 8 motociclistas y cada 30 min se libera los que están ocupados. cuando se haga click sobre una cajita se tomara a un motociclista y se marcara en verde dicha cajita, al presionar nuevamente en la caja se libera al motociclista.
        Si no hay motociclistas las cajas deben estar en color rojo y no debe dejar tomar el usuario. Deberá haber un contador de motociclistas disponibles. La tecnología a implementar debe ser Ionic. No se resuelven dudas del enunciado, se evaluará su capacidad de análisis para llenar los vacíos que están en la descripción.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
